.col-3{
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-bottom-style: solid;
    border-right-style: dotted;
}
.container{
    background-color: bisque;
}
